<!--The content below is only a placeholder and can be replaced.-->

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
  </tr>
   <tr *ngFor="let prod of myarray.details">
     <td *ngIf="prod.age>=18">{{prod.name}}</td>
    <td  *ngIf="prod.age>=18">{{prod.age}}</td>
   </tr>
</table>